{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Create Doctor
    {% endblock %}</title>
</head>

<body>

  {% block content %}
  <div class="row">
    <div class="col col-4">
      <div class="card">
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
              <legend>Create Doctor</legend>
              {{ doctorform|crispy }}
              <br>
              <button type="submit" class="btn btn-warning">Create</button>
              <br>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>
  <br>
  {% endblock %}

</body>

</html>