{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Visit Form
    {% endblock %}</title>
</head>

<body>

  {% block content %}
  <h3>Patient Diagnosis</h3>
  <br>
  <div class="row">
    <div class="col col-4">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            <fieldset>
              <legend>Visit Form</legend>
              {% csrf_token %}
              {{ vist_form|crispy }}
              <br>
              <button type="submit" class="btn btn-warning">Submit</button>
              <br>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

</body>

</html>